<header class="flex place-content-between place-items-center pb-2 pt-6">
  <a
    href="/"
    class="text-xl font-semibold hover:text-purple-400 transition-colors"
  >
    🌱 Cosmic Garden
  </a>
  <nav class="flex gap-x-4">
    <a href="/" class="hover:text-purple-400 hover:underline">Home</a>
    <a href="https://blog.cosmic.garden" class="hover:text-purple-400 hover:underline">Blog</a>
    <a href="/projects" class="hover:text-purple-400 hover:underline">Projects</a>
    <a href="/about" class="hover:text-purple-400 hover:underline">About</a>
  </nav>
</header>