@import "@repo/tailwind-config";
@source "../node_modules/@repo/ui/src";

@font-face {
  font-family: 'Flow Circular';
  src: url('/FlowCircular-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
}