---
import Layout from "../components/Layout.astro";
---

<Layout title="Home">
  <h1 class="text-4xl font-semibold">Welcome to Cosmic Garden</h1>
  <p class="mt-4 text-lg text-zinc-400">A creative space for ideas to bloom.</p>
  <p class="mt-4 text-lg text-zinc-400">
    Check out my quick <a
      class="text-purple-400 hover:text-purple-300 hover:underline transition-colors"
      href="/posts/">posts</a
    > or slightly longer <a
      class="text-purple-400 hover:text-purple-300 hover:underline transition-colors"
      href="https://blog.cosmic.garden">blogs</a
    >.
  </p>
</Layout>
