---
import Layout from "../components/Layout.astro";
---

<Layout title="Projects">
  <h1 class="text-4xl font-semibold mb-8">Projects</h1>
  <a href="https://write.cosmic.garden" class="hover:text-purple-400 hover:underline">Morning Pages</a>
</Layout>