---
import Layout from "../components/Layout.astro";
---

<Layout title="Projects">
  <ul class="list-disc list-inside">
    <li>
      <a
        href="https://write.cosmic.garden"
        class="underline hover:text-purple-400">Morning Pages</a
      >
    </li>
    <li>
      <a
        href="https://quiz.cosmic.garden"
        class="underline hover:text-purple-400">Quiz</a
      >
    </li>
  </ul>
</Layout>
